lib/stacks/dynamodb-iterator.asl.json
{
  "Comment": "DynamoDb Iterator",
  "StartAt": "Query DynamoDb Table",
  "States": {
    "Query DynamoDb Table": {
      "Type": "Task",
      "Arguments": {
        "TableName": "${TABLE_NAME}",
        "KeyConditionExpression": "#pk = :pk",
        "ExpressionAttributeNames": {
          "#pk": "PK"
        },
        "ExpressionAttributeValues": {
          ":pk": {
            "S": "ItemGroup"
          }
        },
        "Limit": 30
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "Next": "More Results to Fetch?",
      "Assign": {
        "results": "{% $states.result.Items %}"
      }
    },
    "More Results to Fetch?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Query DynamoDb Next Page",
          "Condition": "{% $exists($states.input.LastEvaluatedKey) %}",
          "Comment": "Yes"
        }
      ],
      "Default": "Success"
    },
    "Query DynamoDb Next Page": {
      "Type": "Task",
      "Arguments": {
        "TableName": "${TABLE_NAME}",
        "KeyConditionExpression": "#pk = :pk",
        "ExpressionAttributeNames": {
          "#pk": "PK"
        },
        "ExpressionAttributeValues": {
          ":pk": {
            "S": "ItemGroup"
          }
        },
        "Limit": 30,
        "ExclusiveStartKey": "{% $states.input.LastEvaluatedKey %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "Next": "More Results to Fetch?",
      "Assign": {
        "results": "{% $append($results, $states.result.Items) %}"
      }
    },
    "Success": {
      "Type": "Succeed"
    }
  },
  "QueryLanguage": "JSONata"
}